<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>this is home page</title>
</head>
<body>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-4">

                <div class="my-card">

                    <div th:if="${session.message}"  th:classappend="${session.message.type}"class=" alert-primary" role="alert">

                        <p th.text="${session.message.content}"></p>

                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                <h1> Register Here!! </h1>

                    <img src="" th:src="@{/img/login.png}" alt="" />

                    <form action="" th:action="@{/do_register}" method="post" th:object="${user}">

                        <!-- name field -->
                        <div class="mb-3">
                            <label for="name_field" class="form-label">Your Name(*)</label>
                            <input
                                    name="name"
                                    type="text"
                                    class="form-control"
                                    id="name_field"
                                    aria-describedby="emailHelp"/>
                                    th:value="${user.name}"
                            <div class="invalid-feedback" >
                                Please provide a valid city.
                            </div>

                            /div>


                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>

                        <!-- email field -->
                            <div class="mb-3">
                                <label for="email_field" class="form-label">Your Email(*)</label>
                            <input
                                    name="email"
                                    type="email"
                                    class="form-control"
                                    id="email_field"
                                    aria-describedby="emailHelp"/>
                                th:value="${user.email}"
                                />


                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <!-- password field -->
                        <div class="mb-3">
                            <label for="password_field" class="form-label">Your Password(*)</label>
                            <input
                                    name="password"
                                    type="password"
                                    class="form-control"
                                    id="password_field"
                                    aria-describedby="emailHelp"/>
                                    th:value="${user.password}"
                            />


                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>

                        <!-- user about field-->
                        <div class="form-group">
                            <textarea name="about" th:value="${user.about}" placeholder=" Enter Something Here" rows=5 class="form-control"></textarea>
                        </div>

                        <!-- terms and condition agreement-->
                        <div class="form-group form-check">
                           <input type="checkbox"
                                  name="agreement"
                                  class="form-check-input"
                                  id="agreement"
                            />

                            <label for="agreement">Accept terms and conditions</label>

                        </div>





                        <div class="button-container">
                            <button class="button btn-warning text-black">Submit</button>
                            <button class="button  bg-primary text-white">Reset</button>
                        </div>



</section>
</body>
</html>
